# File Path: .gitignore
# File Version: SPRAD v2.8-production | metadata-header.1
# Update Info: 2026-06-20 - Tambah metadata header untuk monitor path, versi dan info update.
.agents/
outputs/
skills-lock.json
